--
-- PostgreSQL database dump
--

\restrict EtP85zrIhcQUgIMfivZndcB3KkCbj734UmgUKkR9yvcoIbAnuQzfCgAJI1WDtF4

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actors (
    actor_id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.actors OWNER TO postgres;

--
-- Name: actors_actor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.actors ALTER COLUMN actor_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.actors_actor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genres (
    genre_id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.genres OWNER TO postgres;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.genres ALTER COLUMN genre_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.genres_genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: show_cast; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.show_cast (
    show_id integer NOT NULL,
    actor_id integer NOT NULL
);


ALTER TABLE public.show_cast OWNER TO postgres;

--
-- Name: show_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.show_genres (
    show_id integer NOT NULL,
    genre_id integer NOT NULL
);


ALTER TABLE public.show_genres OWNER TO postgres;

--
-- Name: tvshows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tvshows (
    id integer NOT NULL,
    title text,
    about text,
    rating real,
    years text
);


ALTER TABLE public.tvshows OWNER TO postgres;

--
-- Name: tvshows_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tvshows ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tvshows_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: actors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.genres (genre_id, name) FROM stdin;
46	Western
118	Short
126	Biography
325	Musical
247	War
478	Sport
1078	Talk-Show
18	Romance
1595	News
1461	Game-Show
6	Fantasy
1021	Documentary
25	Horror
416	Music
8	Sci-Fi
128	History
605	Reality-TV
9	Thriller
154	Family
13	Adventure
21	Mystery
81	Animation
1	Action
4	Crime
3	Drama
2	Comedy
\.


--
-- Data for Name: show_cast; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: show_genres; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tvshows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: actors_actor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actors_actor_id_seq', 11955, true);


--
-- Name: genres_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genres_genre_id_seq', 6952, true);


--
-- Name: tvshows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tvshows_id_seq', 3000, true);


--
-- Name: actors actors_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_name_key UNIQUE (name);


--
-- Name: actors actors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_pkey PRIMARY KEY (actor_id);


--
-- Name: genres genres_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_name_key UNIQUE (name);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (genre_id);


--
-- Name: show_cast show_cast_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_cast
    ADD CONSTRAINT show_cast_pkey PRIMARY KEY (show_id, actor_id);


--
-- Name: show_genres show_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_genres
    ADD CONSTRAINT show_genres_pkey PRIMARY KEY (show_id, genre_id);


--
-- Name: tvshows tvshows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tvshows
    ADD CONSTRAINT tvshows_pkey PRIMARY KEY (id);


--
-- Name: idx_actors_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actors_name ON public.actors USING btree (name);


--
-- Name: idx_genres_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_genres_name ON public.genres USING btree (name);


--
-- Name: idx_tvshows_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tvshows_title ON public.tvshows USING btree (title);


--
-- Name: show_cast show_cast_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_cast
    ADD CONSTRAINT show_cast_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.actors(actor_id) ON DELETE CASCADE;


--
-- Name: show_cast show_cast_show_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_cast
    ADD CONSTRAINT show_cast_show_id_fkey FOREIGN KEY (show_id) REFERENCES public.tvshows(id) ON DELETE CASCADE;


--
-- Name: show_genres show_genres_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_genres
    ADD CONSTRAINT show_genres_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.genres(genre_id) ON DELETE CASCADE;


--
-- Name: show_genres show_genres_show_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.show_genres
    ADD CONSTRAINT show_genres_show_id_fkey FOREIGN KEY (show_id) REFERENCES public.tvshows(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict EtP85zrIhcQUgIMfivZndcB3KkCbj734UmgUKkR9yvcoIbAnuQzfCgAJI1WDtF4

