services:
  postgres:
    build: .
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      #- ./backup.sql:/tmp/backup.sql  # Your dump file
      - ./backup.sql:/docker-entrypoint-initdb.d/backup.sql
      

volumes:
  postgres_data:
